# Backend Environment Variables

# Server
PORT=5000
NODE_ENV=development

# Database (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=notification_db

# JWT
JWT_SECRET=your-secret-key-change-in-production

# Test Server
TEST_SERVER_LOG_API=http://20.207.122.201/evaluation-service/logs

# External registration service
EVALUATION_REGISTER_API_URL=http://20.207.122.201/evaluation-service/register
